<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src=""></script>
</head>


<body class="container">
    <center>
        <div>
            <h1>
                Mis Practicas Node.js
            </h1>

            <h2>Luis Mario Tirado Rios</h2>
        </div>
    </center>

</body>

</html>