<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <nav>
        <div>
            <div>
                <div>
                    <a href="/views/tabla.ejs">Tabla de Multiplicar</a>
                    <a href="">Cotizacion</a>
                    <a href="">Alumnos</a>
                </div>
            </div>
        </div>+
        /
    </nav>

</body>

</html>