<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=titulo%>
    </title>
</head>

<body>
    <h1>
        <%=nombre%>
    </h1>


    <%-include('partials /header.ejs')%>

        <%-include('partials /nav.ejs')%>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet exercitationem esse non neque debitis
                repudiandae eveniet tempore sint quos ipsa numquam hic nihil minima deleniti illum, nesciunt iste itaque
                molestias!</p>

                <%-include('partials/footer.ejs')%>
</body>

</html>